* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #db973da6; }

.navbar {
  background-color: #A88455; }

.container__quienesomos {
  margin: 5px;
  padding-top: 1rem;
  width: 100%;
  height: auto;
  background-color: #fcc987fd; }

.__titulos, .container__quehacemos h1, .contenedor__adondeapuntamos h1, .container__contacto h1 {
  margin: 35px;
  padding: 15px;
  color: #d17070;
  font-size: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left; }

.container__parrafo {
  height: auto;
  padding-bottom: 15px;
  width: 100%; }
  .container__parrafo .__parrafo {
    padding: 15px;
    color: #fff;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: oblique; }

@media only screen and (max-width: 560px) {
  .container__quienesomos {
    height: auto; }
  .container__quienesomos h1 {
    font-size: large;
    margin: 5px;
    padding: 5px; }
  .container__parrafo {
    height: auto;
    width: 100%; }
    .container__parrafo .__parrafo {
      color: #fff;
      font-size: 1rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-style: oblique; } }

.container__quehacemos {
  margin: 5px;
  padding-top: 1rem;
  width: 100%;
  height: auto;
  background-color: #ffffff; }
  .container__quehacemos .contenedor__card {
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
  .container__quehacemos .card {
    border-radius: 0.5rem;
    margin: 2rem; }
    .container__quehacemos .card:hover {
      transition: all 1s;
      transform: scale(1.1, 1.1); }
    .container__quehacemos .card h2 {
      font-size: medium; }
    .container__quehacemos .card p {
      font-size: small; }
    .container__quehacemos .card .card img {
      width: 100%; }

@media only screen and (max-width: 560px) {
  .container__quehacemos {
    height: auto; }
  .container__quehacemos h1 {
    font-size: large;
    margin: 5px;
    padding: 5px; } }

.contenedor__adondeapuntamos {
  margin: 5px;
  padding-top: 1rem;
  width: 100%;
  height: auto;
  background-color: #fcc987fd; }
  .contenedor__adondeapuntamos .contenedor__accordion {
    margin-top: 3rem; }
  .contenedor__adondeapuntamos .conteiner {
    padding: 1rem; }
    .contenedor__adondeapuntamos .conteiner .row img {
      width: 100%; }

.carrusel {
  text-align: center; }

@media only screen and (max-width: 560px) {
  .contenedor__adondeapuntamos {
    height: auto; }
  .contenedor__adondeapuntamos h1 {
    font-size: large;
    margin: 5px;
    padding: 5px; } }

.container__contacto {
  margin: 5px;
  padding-top: 1rem;
  width: 100%;
  height: auto;
  background-color: #fff; }

.container__form {
  padding: 30px;
  margin: auto;
  width: 400px;
  background-color: #fcc987fd;
  border-radius: 5px;
  border-style: solid;
  border-color: #C98022;
  color: white; }
  .container__form h1 {
    text-align: center;
    color: white;
    font-size: 1.5rem; }

.datos-form {
  background: #fdfbfb;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 16px;
  border: solid 1px black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.container__form .boton {
  width: 60px; }

@media only screen and (max-width: 560px) {
  .container__contacto {
    height: auto; }
  .container__contacto h1 {
    font-size: large;
    margin: 5px;
    padding: 5px; }
  .container__form {
    display: none; } }

.footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  background-color: #C98022;
  background-color: #A88455; }
  .footer .iconos {
    display: inline; }
  .footer .descripcion-logo h3 {
    font-size: small; }
  .footer .bi {
    opacity: 0.9;
    color: white; }
  .footer .bi:hover {
    opacity: 1;
    color: #c0e5e5; }

@media only screen and (max-width: 560px) {
  .footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 30px; } }
