*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container__contacto__pg{

    h1{
        margin: 35px;   
        padding: 15px;
        color:$titulos;
        font-size: $size-titulos;
        font-family:$font;
        text-align: left; 
    }
}


.container__form__pg{
    
    padding: 30px;
    margin: auto;
    width: 400px;
    background-color: #fff;
    border: 1px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    h1{
        text-align: center;
        color: $titulos;
        font-size: 1.5rem;
    }
}

.datos-form{
        background: rgb(253, 251, 251);
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 16px;
        border: solid 1px black;
        font-family:$font;
        
    }




    @media only screen and (max-width: 560px){
        .container__form__pg{
            width: 85%;
            margin: auto;

        input{
            font-size: small;
        }
        }    
        .margin__container{
            padding: 15px;
        }

        .container__contacto__pg h1{
            font-size:xx-large;
            margin: 5px;
            padding: 15px;
        }

    }
