

.container__contacto__pg{
    background-image: url(../imagenes/fondo-contaacto.jpg);
    background-size: 100%;
    
    h1{
   
        padding: 15px;
        color:$titulos;
        font-size: $size-titulos;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: left; 
    }
}

.margin__container{
    margin: 3rem;
}


.container__form__pg{
    
    padding: 30px;
    margin: auto;
    width: 400px;
    background-color: #fcc987fd;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #C98022;
    color: white;

    h1{
        text-align: center;
        color: white;
        font-size: 1.5rem;
    }
}

.datos-form{
        background: rgb(253, 251, 251);
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 16px;
        border: solid 1px black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    
    .container__form .boton{
        width: 60px;
    }
