
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container__proyectos{
    padding: 10px;
    background-color: #fff;
    
    h1{
        margin: 35px;
        padding: 15px;
        color:$titulos;
        font-size: $size-titulos;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: left; 

    }
}

@media only screen and (max-width: 560px) {
    .container__proyectos{
        height: auto;
    }
    .container__proyectos h1{
        font-size: large;
        margin: 5px;
        padding: 5px;
    }
}

.container__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 25rem;
    
    .card{
        margin: 30px;
        font-size: x-large;
        text-align: center;
        border-radius: none;
        background-color: #e1fff5;
        opacity: 1;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      
    }
}
.container__connosotros{
    padding: 10px;
    background-color: #fcc987fd;
    text-align: center;
    align-items: center;

    h1{
        margin: 35px;
        padding: 15px;
        color:$titulos;
        font-size: $size-titulos;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: left;     
    }

}

.carousel-inner{
    margin: 30px;
    width: 80%;
    padding-left: 15%;
}
