*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container__proyectos{
    padding: 10px;
    background-color: #00000086;
    text-align: center;

    .proyectos__titulos{
    padding: 10px;

    }
}

@media only screen and (max-width: 560px) {
    .container__proyectos{
        height: auto;
    }
    .container__proyectos h1{
        font-size: large;
        margin: 5px;
        padding: 5px;
    }
}

.container__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 25rem;
    
    .card{
        margin: 30px;
        background-color: #A88455;
        font-size: x-large;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      
    }
}
.container__connosotros{
    padding: 10px;
    background-color: #00000086;
    text-align: center;
    align-items: center;

}

.carousel-inner{
    margin: 30px;
    width: 80%;
    padding-left: 15%;
}
