*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.staff__titulo__seccion{
    
    .__titulo__seccion {
        
        margin: 35px;
        color:$titulos;
        font-size: $size-titulos;
        font-family:$font;
        text-align: left; 
    }
}

.texto__staff{
    p{
        color: white;
        margin: 35px;
        padding: 5px; 
        font-size: 25px;
        // font-style: oblique;
    }
}
.proyectos__titulos{
    padding: 5px;
}
.card{
    width: 13rem;
    padding: 0;
    margin: 0;
    opacity: 0.8;
    // background-color: #ecb16381;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    
    &:hover{
        opacity: 1;
        transform: scale(1.1,1.1);
        transition: all 1s;
   
    }
}

.card-body{
    text-align: center;
    color: black;
    background-color: #ecb16381;
}

@media only screen and (max-width: 560px){
    .staff__titulo__seccion h1{
        font-size:xx-large;
        margin: 5px;
        padding: 15px;
    }
    .texto__staff p{
        font-size: large;
        margin: 10px;
        padding: 5px;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif; 
        font-weight: 500;
        font-style: oblique;
    }
    .card-title{
        font-size: small;
    }
    .card-text{
        font-size: x-small;
    }
    .card {
        width: 10rem;
        margin: 10px;
    }
}